body {
    font-family: Roboto;
    max-width: 1500px;
}

img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosec {
    font-size: 18px;
    color: #e5e7eb
}

.herologo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;
    gap: 20px;
}

#box {
    width: 450px;
}

.midbody {
    display: flex;
    flex-direction: column;
}

.uppermid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowermid {
    display: flex;
    border-style: solid;
    padding: 10px;
    border-width: 5px;
    border-color: black;
}

.bottommid {
    display: flex;
    border-style: solid;
    padding: 10px;
    border-width: 5px;
    border-color: black;
}

.footer {
    display: flex;
    background-color: #1f2937;
}